.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
<<<<<<< HEAD
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
=======
>>>>>>> e3970d4dae73740039f9ba6374be6511e136994b
}