.hide {
    display: none;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
}

.horizontal-list>li {
    float: left;
}

.horizontal-bar-char rect {
    fill: #000000;
}

.vertical-bar-char rect {
    fill: #000000;
}

.tick line {
    display: none
}